.navbar {
  $aqua: #1fcfcf;
  $aquaTrans: #1fcfcf3d;
  $pink: #ee40bd;

  position: fixed;
  top: 0;
  z-index: 100;
  height: 4.5rem;

  background-color: #181818;
  // background-image: linear-gradient(30deg, #181818 85%, $aqua 130%);
  background-image: linear-gradient(-30deg, #181818 85%, $aqua 130%);
  background-attachment: fixed;

  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;

  .section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    .anthiasLogo {
      width: 2rem;
      height: auto;
      margin-right: 0.5rem;
      transition: transform 0.2s linear; // Add this line to transition the rotation

      path {
        fill: $aqua;
        transition: fill 0.2s ease-in-out;
      }

      &:hover {
        cursor: pointer;

        path {
          fill: white;
        }

        transform: rotate(90deg); // On hover, rotate 90deg
      }
    }

    .select {
      padding-left: 0.5rem;

      .selectInput {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 0.85rem;
        font-weight: 300;
        color: white;
        gap: 1rem;

        width: 10rem;
      }

      .selectIcon {
        img {
          margin-right: 1rem;
        }
      }

      .selectDropdown {
        background-color: #222;
        border: none;
        border-radius: 0.25rem;

        .selectItem {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          gap: 1rem;
          padding: 0.25rem 0.15rem;
          border-radius: 0.25rem;

          filter: brightness(0.75);
          transition: filter 0.2s, background-color 0.2s;

          img {
            height: 1.75rem;
            width: auto;
          }

          &:hover {
            filter: brightness(1);
            background-color: #333;
          }
        }
      }
    }

    .slash {
      height: 2.5rem;
      width: auto;

      line {
        stroke: white;
        stroke-width: 1px;
        filter: brightness(0.75);
      }
    }
  }

  .account {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $aquaTrans;
    padding: 0.35rem 1rem;
    color: $aqua;
    filter: brightness(0.75);
    transition: filter 0.2s, background-color 0.2s;
    border-radius: 0.25rem;

    &:hover {
      filter: brightness(1);
      // background-color: $aqua;
      // color: black;
    }
  }
}
