.tableComponent {
  $aqua: #1fcfcf;
  $pink: #ee40bd;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 1rem;

  background-color: rgb(10, 10, 10);

  .titleBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
    width: 100%;

    .section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;
      white-space: nowrap;

      font-size: 1.5rem;
      font-weight: 300;
      text-align: left;
    }
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .table {
      width: 100%;

      .thead {
        background-color: transparent;
        border-radius: 0.4rem 0.4rem 0 0;
        display: flex;
        flex-direction: column;
        padding: 1rem 1.5rem;
        gap: 1.75rem;

        .tr {
          display: flex;
          justify-content: space-between;
          width: 100%;

          .th {
            font-weight: 100;
            color: white;
            filter: brightness(0.75);
            transition: filter 0.2s ease-in-out;
            flex: 1;
            text-align: center;

            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.25rem;

            &.address {
              flex: 2;
            }

            &:hover {
              filter: brightness(1);
            }

            &.sortable {
              cursor: pointer;

              svg {
                width: 1.15rem;
                height: auto;

                path {
                  fill: transparent;
                }
              }

              &:hover,
              &.active {
                svg {
                  path {
                    fill: white;
                  }
                }
              }
            }

            &.chevron {
              flex: 0.25;
              justify-content: center;
            }
          }
        }
      }

      .tbody {
        .motion {
          transition: background-color 0.2s;
          border-radius: 0.5rem;

          &:nth-child(odd) {
            background-color: rgba(31, 207, 207, 0.24);
          }
          &:nth-child(even) {
            background-color: rgba(33, 100, 100, 0.3);
          }

          &:hover {
            &:nth-child(odd) {
              background-color: rgba(31, 207, 207, 0.36);
            }
            &:nth-child(even) {
              background-color: rgba(33, 100, 100, 0.42);
            }
          }
        }

        .tr {
          box-sizing: border-box;
          display: flex;
          justify-content: space-between;
          padding: 0.75rem 1.5rem;
          width: 100%;
          margin-bottom: 0.5rem;
          cursor: pointer;

          .td {
            flex: 1;
            font-weight: 500;
            font-size: 0.9rem;

            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.25rem;

            &.first {
              span {
                text-decoration: none;
                background-image: linear-gradient($aqua, $aqua);
                background-size: 0% 0.8px;
                background-position-y: 100%;
                background-position-x: 0%;
                background-repeat: no-repeat;
                transition: background-size 0.2s ease-in-out,
                  color 0.2s ease-in-out;
                padding-bottom: 2px;
              }
            }

            &.address {
              flex: 2;
            }

            .iconEntry {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              gap: 0.5rem;
            }

            .protocolIconsEntry {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              gap: 0.25rem;
            }

            &.healthFactor {
              span {
                display: flex;
                align-items: center;
                justify-content: center;

                padding: 0.25rem 0.5rem;
                border-radius: 0.85rem;
                font-weight: 400;

                svg {
                  height: 1.25rem;
                  width: auto;

                  path {
                    fill: white;
                  }
                }
              }

              &.safe {
                span {
                  background-color: #1fc73b;
                }
              }

              &.risky {
                span {
                  background-color: #ffa323;
                }
              }

              &.unsafe {
                span {
                  background-color: #ff2d2d;
                }
              }
            }

            &.chevron {
              flex: 0.25;
              justify-content: flex-end;

              svg {
                height: 1.1rem;
                width: auto;

                path {
                  transition: stroke 0.2s;
                }
              }
            }
          }

          &:hover {
            .first {
              span {
                background-size: 100% 0.8px;
                color: $aqua;
              }
            }

            .chevron {
              svg {
                path {
                  stroke: $aqua;
                }
              }
            }
          }
        }
      }
    }

    .loading,
    .error {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-top: 2rem;
      padding-bottom: 1rem;

      p {
        font-size: 1rem;
        font-weight: 100;
        color: white;
      }
    }
  }
}
